.contenitor{
    display: flex;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    background-color: var(--white);
}
.productImageDesktop{
    width: 300px;
    border-radius: 10px 0 0 10px;
}
.productImageMobile{
    display: none;
}
.productDescription{
    width:300px;
    padding: 30px;
}

.category{
    font-family: var(--font-1);
    letter-spacing: 5px;
    margin-bottom: 25px;
    font-size: 14px;
}
h1{
    font-family: var(--font-2);
    font-size: 35px;
    margin-bottom: 25px;
    line-height: 1em;
}
.productText{
    font-family: var(--font-1);
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 1.6em;
    
}
.price{
    font-family: var(--font-2);
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    font-size: 30px;
    
}

.oldPrice{
    margin-left: 20px;
    font-size: 14px;    
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 240px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--darkCyan);
    font-size: 14px;
}
button svg{
    margin-right: 8px;
}

button:active{
    background-color:var(--veryDarkCyan);
}

@media (max-width:376px){

    .contenitor{
        flex-direction: column;
        width: 340px;
        height: 610px;
    }
    .productImageDesktop{
        display:none;
    }
    .productImageMobile{
        display:inline;
        width:340px;
        border-radius: 10px 10px 0 0;
    }
    .productDescription{
        width:340px;
        padding: 25px;
    }
    
    .category{
        margin-bottom: 20px;
    }
    h1{
        margin-bottom: 20px;
    }
    .productText{
        margin-bottom: 20px;
        
    }
    .price{
        margin-bottom: 15px;        
    }
    
    button{
        width: 290px;
    }
   
}