*{
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
}
p,
h1 {
  margin-top: 0;
}