p{
    font-size: 14px;
}

:root{
    --font-1: Montserrat, sans-serif;
    --font-2: Fraunces, serif;
}

.medium{
    font-weight: 500;
}

.bold{
    font-weight: 700;
}

.darkText{
    color:var(--veryDarkBlue);
}
.lightText{
    color: var(--darkGrayishBlue);
}
.primary1Text{
    color: var(--darkCyan)
}
.primary2Text{
    color: var(--cream)
}